<?xml version="1.0"?>
<config>
  <modules>
    <Shweta_Video>
      <version>0.1.0</version>
    </Shweta_Video>
  </modules>
  <frontend>
    <routers>
      <video>
        <use>standard</use>
          <args>
            <module>Shweta_Video</module>
            <frontName>video</frontName>
          </args>
      </video>
    </routers>
		<layout>
		  <updates>
			<video>
			  <file>video.xml</file>
			</video>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <video>
        <class>Shweta_Video_Helper</class>
      </video>
    </helpers>
	<blocks>
	  <video>
		<class>Shweta_Video_Block</class>
	  </video>
	</blocks>
	<models>
	  <video>
		<class>Shweta_Video_Model</class>
		<resourceModel>video_mysql4</resourceModel>
	  </video>
	  <video_mysql4>
		<class>Shweta_Video_Model_Mysql4</class>
		<entities>		  
			  <video>
				<table>shweta_video_url</table>
			  </video>
        </entities>
	  </video_mysql4>
	</models>
	<resources>
	  <video_setup>
		<setup>
		  <module>Shweta_Video</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </video_setup>
	  <video_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </video_write>
	  <video_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </video_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <video>
	    <use>admin</use>
		<args>
		  <module>Shweta_Video</module>
		  <frontName>video</frontName>
		</args>
	  </video>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <video module="video">
		<title>Video</title>
		<sort_order>100</sort_order>
		<children>
		  <video module="video">
		    <title>Manage Video</title>
			<sort_order>0</sort_order>
			<action>video/adminhtml_video</action>
		  </video>
		</children>
	  </video>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<video translate="title" module="video">
			  <title>Video</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <video translate="title">
			<title>Manage Video</title>
			<sort_order>0</sort_order>
		  </video>
			  </children>
			</video>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<video>
		  <file>video.xml</file>
		</video>
	  </updates>
	</layout>
  </adminhtml>
</config> 